#apDiv3 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left: 598px;
	top: -132px;
}
#apDiv4 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 5;
	left: 185px;
	top: 70px;
}

#bg_central fieldset {
	text-align:right;	
	padding-right: 230px;
	padding-left: 80px;
	
}
form.atualizar {
width: 730px;
font: 16px Verdana, sans-serif;
color: white;
padding-right: 30px;
}
input {
	margin-top:10px;
	margin-left:20px;
	
}

legend {
			text-align:center;
			font: 21px Verdana, sans-serif;
}
#newss {
	
}
#apDiv6 {
	position: absolute;
	width: 495px;
	height: 44px;
	z-index: 2;
	left: 208px;
	top: 287px;
	font: italic small-caps bold 20px
 	"Verdana", sans-serif;
	font-size: 25px;
	color: white;
}
#apImg {
	position: absolute;
	width: 87px;
	height: 26px;
	z-index: 1;
	left: 154px;
	top: 377px;
	background-color:black;
	color: white;
	font: italic small-caps bold 18px
 	"Verdana", sans-serif;
	text-align:center;
	display:none;
	text-decoration:none;
	cursor:pointer;
}
#apImgURL {
	position: absolute;
	width: 388px;
	height: 132px;
	z-index: 2;
	left: 243px;
	top: 269px;
	background-color: black;
	color: white;
	font: italic small-caps bold 18px
 	"Verdana", sans-serif;
	text-align: center;
	text-decoration: none;
	border: thin solid white;
	border-radius: 10px;
	display:none;
}
#btn_close {
	background-color: white;
	color: red;
	float: right;
	padding: 5px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	cursor: pointer;
	border: thin solid white;
}
#Fortalecer {
	position: absolute;
	width: 145px;
	height: 92px;
	z-index: 1;
	left: 158px;
	top: 555px;
}
