#apDiv3 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left: 598px;
	top: -132px;
}
#apDiv4 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 5;
	left: 185px;
	top: 70px;
}

#apDiv5 {
	position: absolute;
	width: 300px;
	height: 408px;
	z-index: 1;
	left: 455px;
	top: 363px;
	cursor: pointer;
}
#apDiv6 {
	position: absolute;
	width: 300px;
	height: 408px;
	z-index: 2;
	left: 771px;
	top: 362px;
	cursor: pointer;
}
#titulo_ {
	color: white;
	margin-left: 300px;
	font: italic small-caps bold 34px
 	"Verdana", sans-serif;	
}
#apDiv7 {
	position: absolute;
	width: 705px;
	height: 38px;
	z-index: 3;
	left: 408px;
	top: 315px;
	color: white;
	font-size: 20px;
	font: italic small-caps bold 20px
 	"Verdana", sans-serif;
}
#apImg {
	position: absolute;
	width: 87px;
	height: 26px;
	z-index: 1;
	left: 113px;
	top: 377px;
	background-color: black;
	color: white;
	font: italic small-caps bold 18px
 	"Verdana", sans-serif;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display:none;
}
#apImgURL {
	position: absolute;
	width: 388px;
	height: 132px;
	z-index: 2;
	left: 202px;
	top: 269px;
	background-color: black;
	color: white;
	font: italic small-caps bold 18px
 	"Verdana", sans-serif;
	text-align: center;
	text-decoration: none;
	border: thin solid white;
	border-radius: 10px;
	display:none;
	z-index:10;
}
#btn_close {
	background-color: white;
	color: red;
	float: right;
	padding: 5px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	cursor: pointer;
	border: thin solid white;
}